.login-page{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.login-page__modal{
    background: var(--color-near-bkg);
    border-radius: 12px;
    padding: 17px 30px;
    width: 340px;
}

.login-page__modal-space{
    height: 153px;
}

.login-page__modal-space_signup{
    height: 41px;
}
