<div class="login-page">
    <div class="login-page__modal">
        {{> ModalTitle title="Log in"}}
        <form class="login-page__form">
            {{> Input type="text" name="login" placeholder="ivanivanov" hint="Login" errorText="The login is wrong" }}
            {{> Input type="password" name="password" placeholder="••••••••••••" hint="Password" }}
        </form>
        <div class="login-page__modal-space"></div>
        {{> Button id="signinBtn" text="Sign in" }}
        {{> ButtonDark id="signupBtn" text="Create account" }}
    </div>
</div>