.button-small{
    background: var(--color-accent);
    border: none;
    border-radius: 9px;
    color: #fff;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    user-select: none;
}

.button-small:hover{
    filter: brightness(93%);
}

.button-small:active{
    filter: brightness(70%);
}
