.button-small{
    background: var(--color-accent);
    color: #fff;
    border-radius: 9px;
    border: none;
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    -webkit-user-select: none;
    cursor: pointer;
}
.button-small:hover{
    filter: brightness(93%);
}
.button-small:active{
    filter: brightness(70%);
}