<div class="profile-page">
    <div class="profile-page__back-btn">
        <div class="profile-page__back-btn-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="profile-page__back-btn-icon-svg" viewBox="0 -960 960 960"
                 fill="#FFFFFF">
                <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/>
            </svg>
        </div>
    </div>
    <div class="profile-page__body">
        <div class="profile-page__body-center">
            <form class="profile-page__body-center">
                <div class="profile-page__body-avatar">
                    <div class="profile-page__body-avatar-hint">
                        <div class="profile-page__body-avatar-hint-text">Change Avatar</div>
                    </div>
                    <input class="profile-page__body-avatar-input" type="file" name="avatar" accept="image/png, image/jpeg">
                </div>
                <div class="profile-page__body-name">Scott</div>

                <div class="profile-page__body-card">
                    <div class="profile-page__body-card-item-property">Email</div>
                    <input type="email" name="email" placeholder="ivan@gmail.com" value="pochta@yandex.ru" class="profile-page__body-card-item-property-value">

                    <div class="profile-page__body-card-item-property">Login</div>
                    <input type="text" name="login" placeholder="ivan" value="ivanivanov" class="profile-page__body-card-item-property-value">

                    <div class="profile-page__body-card-item-property">First name</div>
                    <input type="text" name="first_name" placeholder="Иван" value="Иван" class="profile-page__body-card-item-property-value">

                    <div class="profile-page__body-card-item-property">Second name</div>
                    <input type="text" name="second_name" placeholder="Иванов" value="Иванов" class="profile-page__body-card-item-property-value">

                    <div class="profile-page__body-card-item-property">Nickname in Chats</div>
                    <input type="text" name="display_name" placeholder="Иван" value="Иван" class="profile-page__body-card-item-property-value">

                    <div class="profile-page__body-card-item-property">Phone</div>
                    <input type="text" name="phone" placeholder="+7 (909) 967 30 30" value="+7 (909) 967 30 30" class="profile-page__body-card-item-property-value">
                </div>
            </form>

            <div class="page__body-space-between-cards"></div>

            <div class="profile-page__body-card profile-page__body-card_actions">
                <div class="profile-page__body-card-item-property profile-page__body-card-item-property_btn profile-page__body-card-item-property_green">Edit</div>
                <div class="profile-page__body-card-item-property profile-page__body-card-item-property_btn profile-page__body-card-item-property_green">Change Password</div>
                <div class="profile-page__body-card-item-property profile-page__body-card-item-property_btn profile-page__body-card-item-property_red">Log out</div>
            </div>
        </div>
    </div>
</div>
