.chats-page__dialog-area-header-submenu-btn{
    background-color: transparent;
    border:none;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 35px;
    outline: none;
    width: 35px;
}

.chats-page__dialog-area-header-submenu-btn:hover{
    background-color: var(--color-border);
    filter: brightness(93%);
}

.chats-page__dialog-area-header-submenu-btn-btn:active{
    filter: brightness(70%);
}

.chats-page__dialog-area-header-submenu-btn-icon{
    height: 35px;
    margin: auto;
    width: 35px;
}
