<div class="profile-page">
    <div class="profile-page__back-btn">
        <div class="profile-page__back-btn-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="profile-page__back-btn-icon-svg" viewBox="0 -960 960 960" fill="#FFFFFF"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
        </div>
    </div>
    <div class="profile-page__body">
        <div class="profile-page__body-avatar"></div>
        <div class="profile-page__body-name">Scott</div>
    </div>
    <div class="profile-page__body-card">
        {{#each cards}}
            <div class="profile-page__body-card-item">
                <div class="profile-page__body-card-item-property">{{this.property}}</div>
                <div class="profile-page__body-card-item-property-value">{{this.value}}</div>
            </div>
        {{/each}}
    </div>
</div>