.modal-title{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 100%;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin: calc( 50px - 17px) 0 40px 0;
}