.chats-page__dialog-area-header-avatar{
    background-color: var(--color-non-accent-text);
    border-radius: 100%;
    height: 34px;
    margin-right: 10px;
    width: 34px;
}

.chats-page__dialog-area-header-name{
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 100%;
    width: 100%;
}

.chats-page__dialog-area-header-options-submenu-container{
    position: relative;
}
