<div class="error-page">
    <div class="error-page__card">
        <div class="error-page__code">{{code}}</div>
        <div class="error-page__code-desc">{{codeDesc}}</div>
        <div class="error-page__message">{{message}}</div>
    </div>
    {{> ButtonS text="Back to Chats"}}
</div>
