<div class="error-page">
    <div class="error-page__card">
        <h1 class="error-page__code">{{code}}</h1>
        <h2 class="error-page__code-desc">{{codeDesc}}</h2>
        <h3 class="error-page__message">{{message}}</h3>
    </div>
    {{> ButtonS text="Back to Chats"}}
</div>
